{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <h1>
    Our Cars
    <img src="{% static 'images/car.png' %}" class="list-head-img" alt="">
    <a href="{% url 'taxi:car-create' %}" class="btn btn-secondary link-to-page">
      Add new car
    </a>
  </h1>

  <form action="" method="GET" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" value="🔎">
  </form>

  {% if car_list %}
    <ul class="list-group list-group-flush">
      {% for car in car_list %}
        <li class="list-group-item">
          {{ car.model }} ({{ car.manufacturer.name }})
          <a href="{% url "taxi:car-detail" pk=car.id %}">
            <img src="{% static 'images/details.png' %}" alt="" class="nav-img">
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
