{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <h1>
    Manufacturers
    <img src="{% static 'images/manufacturer.png' %}" alt="" class="list-head-img">
    <a href="{% url 'taxi:manufacturer-create' %}" class="btn btn-secondary link-to-page">
      Create
    </a>
  </h1>

  <form action="" method="GET" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" value="🔎">
  </form>

  {{ filter.form|crispy }}

  {% if manufacturer_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for manufacturer in manufacturer_list %}
        <tr>
          <td>
            {{ manufacturer.id }}
          </td>
          <td>
              {{ manufacturer.name }}
          </td>
          <td>
              {{ manufacturer.country }}
          </td>
          <td>
              <a href="{% url 'taxi:manufacturer-update' pk=manufacturer.id %}">
                <img src="{% static 'images/update.png' %}" alt="" class="nav-img">
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'taxi:manufacturer-delete' pk=manufacturer.id %}">
                 --✘--
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no manufacturers in the service.</p>
  {% endif %}
{% endblock %}
