{% load static %}

<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <a href="{{ user.get_absolute_url }}"  class="list-group-item list-group-item-action">
      <img src="{% static 'images/user.png' %}" alt="" class="nav-img">
      {{ user.get_username }}
    </a>
    <a href="{% url 'logout'%}" class="list-group-item list-group-item-action">
      <img src="{% static 'images/logout.png' %}" alt="" class="nav-img">
      Logout
    </a>
  {% else %}
    <a href="{% url 'login'%}" class="list-group-item list-group-item-action">
      <img src="{% static 'images/login.png' %}" alt="" class="nav-img">
      Login
    </a>
  {% endif %}


  <a href="{% url 'taxi:index' %}" class="list-group-item list-group-item-action">Home</a>
  <a href="{% url 'taxi:driver-list' %}" class="list-group-item list-group-item-action">All drivers</a>
  <a href="{% url 'taxi:car-list' %}" class="list-group-item list-group-item-action">All cars</a>
  <a href="{% url 'taxi:manufacturer-list' %}" class="list-group-item list-group-item-action">All manufacturers</a>
</ul>
